@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body {
    background: no-repeat url("1638902.jpg");
    background-size: stretch;
    width: 100%;
    min-height: 70vh;
    padding: 0 0;
    margin: 0 0;
    text-align: center;
}

.logo {
    position: absolute;
    width: 20%;
    top: 7vh;
    left: 3%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#ComingSoon {
    font-size: 3.25rem;
    color: #fff;
    letter-spacing: 3rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 12px;
    width: 500px;
    border: #fff 2px solid;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 12px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 68%;
    }
}

div {
    height: 200px;
}

.iconify {
    font-size: 48px;
    color: #fff;
    padding: 0 12px;
}

.iconify:hover {
    color: rgba(255, 255, 255, 0.596);
}

@media (max-width: 600px) {
    body {
        background-size:cover;
    }
    #ComingSoon {
        letter-spacing: 10px;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .progress {
        width: 80%;
        margin-left: 10%;
    }
}